In [1]:
import pandas as pd
import numpy as np

In [79]:
df1 = pd.read_excel(r'1.Spearmen.xlsx',sheet_name='Table001')
df2 = pd.read_excel(r'1.Spearmen.xlsx',sheet_name='Table002')
df3 = pd.read_excel(r'1.Spearmen.xlsx',sheet_name='Table003')
df4 = pd.read_excel(r'1.Spearmen.xlsx',sheet_name='Table004')

In [36]:
def spearmen(x1,x2):
    n = len(x1)
    return 1-6*(sum((x1-x2)**2))/(n*((n**2)-1))

In [55]:
def kendall(rates):
    m = rates.shape[0]
    n = rates.shape[1]
    denom = m**2*(n**3-n)
    rating_sums = np.sum(rates, axis=0)
    S = n*np.var(rating_sums)
    return 12*S/denom

In [10]:
df1 = df1.drop(columns='Команда')

In [49]:
spearmen(df1.iloc[0].values,df1.iloc[1].values)

0.6363636363636364

In [62]:
print(df1.values)

[[ 1  2  3  4  5  6  7  8  9 10]
 [ 1  2  3 10  6  4  8  7  5  9]]

In [68]:
kendall(df1)

0.8181818181818182

In [69]:
df1

,Локо,ЦСКА,Спартак,Торпедо,Кр. Сов.,Сатурн,Шинник,Динамо,Ротор,Зенит
0,1,2,3,4,5,6,7,8,9,10
1,1,2,3,10,6,4,8,7,5,9

In [30]:
df2 = df2.drop(columns='Column1').values

In [52]:
{'01':spearmen(df2[0],df2[1]),
'12' : spearmen(df2[1],df2[2]),
'02' : spearmen(df2[0],df2[2])}

{'01': -0.16363636363636358,
 '12': -0.1515151515151516,
 '02': 0.6121212121212121}

In [70]:
kendall(df2)

0.3993265993265993

In [80]:
df3 = df3.drop(columns = ['Column1','Column2']).values[1:]

In [83]:
kendall(df3.transpose())

0.7055555555555556

In [89]:
kendall(df4.drop(columns = ['Column1','Column2']).values[1:].transpose())

0.013877551020408165